.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  padding-top: 4px;
}

h2 {
  text-align: center;
  color: purple;
}

h3 {
  color: white;
}

li {
  color: grey;
  margin: 12px;
}

hr.new1 {
  border-top: 1px dashed grey;
}

.card-width {
  color: white;
  padding: 20px;
  margin: 40px;
}

.create-post {
  margin-top: 0;
}

.cancel-button {
  position: absolute;
  top: 545px;
  left: 90px;
}

.cancel-update-button {
  position: absolute;
  top: 545px;
  left: 160px;
}

.button-css:active {
  transform: translateY(3px);
}

.button-css:focus {
  outline: 0;
}
/* For WebKit (Chrome, Safari) */
textarea::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #cdcaca; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
  opacity: 0.5;
}
